[Unit]
Description=Zera Module Manager

[Service]
Environment=QT_QPA_PLATFORM=offscreen
ExecStart=/usr/bin/zera-modulemanager
Type=simple
User=zera-services
NoNewPrivileges=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
