name: Generate SCPI docs
on:
  workflow_dispatch:
    inputs:
      version:
        description: release/snapshot version
        required: true
        type: string

jobs:
  run:
    runs-on: ubuntu-latest
    container:
      image: schnitzeltony/fedora-qt5:32
    steps:
      - name: Echo github environment
        run: |
          echo "Home: $HOME"
          echo "Workspace: $GITHUB_WORKSPACE"
          echo "CPUs: $(getconf _NPROCESSORS_ONLN)"

      # Prepare source code for incremental build
      - name: Download source artifact last build
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: recreateBuildCaches.yml
          name: source-cache-gcc
          check_artifacts: true
        continue-on-error: true

      - name: Untar source files last build
        run: |
          mkdir -p "$GITHUB_WORKSPACE"
          if [ -e source-cache-files.tar.xz ]; then
            tar -xf source-cache-files.tar.xz -C /
            rm source-cache-files.tar.xz
          else
            echo 'source-cache-files.tar.xz not found'
          fi

      - name: Checkout git
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # Prepare last build files for incremental build
      - name: Download build artifact
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: recreateBuildCaches.yml
          name: build-cache-gcc
          check_artifacts: true
        continue-on-error: true

      - name: Untar build files
        run: |
          mkdir -p "$HOME/targetbuild"
          if [ -e build-cache-files.tar.xz ]; then
            tar -xf build-cache-files.tar.xz -C /
            rm build-cache-files.tar.xz
          else
            echo 'build-cache-files.tar.xz not found'
          fi

      # Get zera-metaproject sysroot
      # * mandatory
      # * zera-metaproject's generator workflow name must be set
      - name: Download zera-metaproject's install artifact
        uses: dawidd6/action-download-artifact@v6
        with:
          repo: ZeraGmbH/zera-metaproject
          name: install-artifact
          workflow: buildAndExportArtifact.yml

      - name: Untar zera-metaproject's install artifact
        run: |
            tar -xf install_files.tar.xz -C /
            rm install_files.tar.xz

      - name: Build
        run: |
          mkdir -p "$HOME/targetbuild"
          cd "$HOME/targetbuild"

          cmake $GITHUB_WORKSPACE \
           -DCMAKE_PREFIX_PATH="$HOME/install/usr;/usr" \
           -DCMAKE_INSTALL_PREFIX:PATH="$HOME/install/usr" \
           -DCMAKE_INSTALL_SYSCONFDIR="$HOME/install/etc"
           make -j $(getconf _NPROCESSORS_ONLN)
           make -j $(getconf _NPROCESSORS_ONLN) install

      - name: run scpi-doc-generator
        run: |
          cd $HOME/targetbuild/scpi-doc/app
          ./scpi-doc-generator -z${{ github.event.inputs.version}}
          mv $HOME/targetbuild/scpi-doc/app/html-docs $HOME/html-docs
          find $HOME/html-docs/ -name *adjustment* -delete
          mv $HOME/targetbuild/scpi-doc/app/SessionNamesMapping.json $HOME
          ls $HOME/

      - name: Update and commit change-info.html
        run: |
          cd $GITHUB_WORKSPACE/scpi-doc/xml-to-html
          sed -i "s/UpcomingRelease:/${{github.event.inputs.version}}:/3" change-info.html
          git config --global user.name 'gitbot'
          git config --global user.email 'gitbot@noreply.de'
          git add change-info.html
          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -sm "Update release version in change-info.html"
            git push
          fi
          mv change-info.html $HOME/html-docs
          ls -lR $HOME/html-docs

      - name: Tar scpi-docs
        run: |
          tar -c -I 'xz -T0' -f $HOME/scpi_docs.tar.xz "$HOME/html-docs" "$HOME/SessionNamesMapping.json"

      - name: 'Upload scpi_docs artifact'
        uses: actions/upload-artifact@v4
        with:
          name: scpi-docs-artifact
          path: /github/home/scpi_docs.tar.xz
          retention-days: 1

      - uses: convictional/trigger-workflow-and-wait@v1.4.0
        with:
          owner: ZeraGmbH
          repo: zenux-data
          github_token: ${{ secrets.G_TRIGGER_WORKFLOW }}
          workflow_file_name: uploadScpiDocs.yml
          inputs: '{"version" : "${{ github.event.inputs.version}}"}'
          ref: main
          wait_workflow: false
          propagate_failure: false
